*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container{
    /* border: 5px dashed red; */
}

h1{
    text-align: center;

}

.button{
    text-align: center;
}

.btn1,.btn2 {
    /* border-radius: %; */

    background-color: rgb(252, 240, 75);
    font-family: 'Courier New', Courier, monospace;
    /* overflow: hidden; */
    font-weight: bold;
}